{% assign settings = site.data.settings %}

<footer>
    <div class="wrapper">
        <span class="detail"><span class="nowrap">{{ settings.description }}</span><br>
        <span class="nowrap">{{ settings.address.street }} - {{ settings.address.post-code }} {{ settings.address.city }}</span><br>
<span class="nowrap">T {{ settings.phone }}</span><br>    
<a href="mailto:{{ settings.email }}">{{ settings.email }}</a><br>
{{ settings.web }} </span>
    </div>
</footer>


<button onclick="topFunction()" id="top-button" title="Go to top"><img src="/img/arrow-up.svg"></button>