<div class="wrapper">
    <header>
        <div class="logo">
            <a class="logo" href="/">
                <img src="/img/studioplietsch_logo.svg" id="logo">
            </a>
        </div>
    </header>
    <nav class="main-nav" id="navbar">

        <ul>
            <li class="selected">
                <a href="/">
                    Studio
                </a>
            </li>
            <li class="">
                <a href="/projects">
                    Projekte
                </a>
            </li>
            <li class="">
                <a href="/contact">
                    Kontakt
                </a>
            </li>

        </ul>

    </nav>
