<!DOCTYPE html>
<html>
  
<head>
	{% include head.html %}
</head>

<body>
  {% include header.html %}

  <section id="body">
    <div class="container">
      <div class="contact-container">
        <div class="left">
            {% assign path = page.image %}
            {% assign alt = page.alt %}

            {% responsive_image_block %}
              path: {{ path | replace: '/img/', 'img/' }}
              alt: {{ alt }}
              {% if title %}
              title: {{ title }}
              {% endif %}
            {% endresponsive_image_block %}

        </div>
        <div class="right">
          <h2>Kontaktdaten</h2>
          {% assign settings = site.data.settings %}
          <p>{{ settings.company-title }}<br>
            {{ settings.address.street }}<br>
            {{ settings.address.post-code }} {{ settings.address.city }}
          </p>
          <p>
              T {{ settings.phone }}<br>
              {{ settings.email }}
          </p>
          <p>
              {{ settings.web }}<br>
              St.Nr. {{ settings.tax-number }}
          </p>
          
            {{ page.contact | markdownify }}
        </div>
      </div>
      {{ content }}

    </div>
</section>

  {% include footer.html %}
</body>

</html>