<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body>
  {% include header.html %}

  <section id="body">

    <div class="container" id="projects">
      <div class="projects">
        {% for item in page.projects_list %}

          {% assign project = site.projects | where: "title", item.project | first %}
          <a href="{{ project.url }}" >

{%- assign path = project.thumbnail | replace: '/img/', 'img/' -%}

{% responsive_image_block %}
path: {{path}}
template: /_includes/responsive-image-bg.html
{% if title %}
title: {{ title }}
{% endif %}
{% endresponsive_image_block %}  

          <h3>{{ project.title }}</h3> </a>

        {% endfor %}

      </div>
    </div>
  </section>



  {% include footer.html %}
</body>

</html>