<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body>
  {% include header.html %}

  <section id="body">

    <div class="container" id="projects">
      <div class="projects">
        {% for project in page.projects %}
        <a href="{{ project.url }}" >
          {% assign path = project.thumbnail %}
        
          {% responsive_image_block %}
            path: {{ path | replace: '/img/', 'img/' }}
            template: /_includes/responsive-image-bg.html
            {% if title %}
            title: {{ title }}
            {% endif %}
          {% endresponsive_image_block %}  
        </div>
        <h3>{{ project.title }}</h3> </a>



        {% endfor %}

      </div>
    </div>
  </section>



  {% include footer.html %}
</body>

</html>