<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body>
  {% include header.html %}

    <section id="body">

      <div class="container">
          {% for row in page.sections %}
          <div class="project-images">
            {% for image in row.images %}
                
              {% assign path = image.image %}
              {% assign alt = image.alt %}

              {% responsive_image_block %}
                path: {{ path | replace: '/img/', 'img/' }}
                alt: {{ alt }}
                {% if title %}
                title: {{ title }}
                {% endif %}
              {% endresponsive_image_block %}

            {% endfor %}
          </div>

          {% if row.text %}
          <p>{{ row.text | markdownify }}</p>
          {% endif %}

          {% endfor %}
      </div>
    </section>

  {% include footer.html %}
</body>

</html>