<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
  {% include header.html %}

    <section id="body">

      <div class="container">
          {% for row in page.rows %}
          <div class="project-images">
            {% for image in row.images %}
            <div class="project-image-wrapper">
              <img src="{{ image.image }}" alt="">
            </div>
            {% endfor %}
          </div>

          {% if row.text %}
          <p>{{ row.text | markdownify }}</p>
          {% endif %}

          {% endfor %}
      </div>
    </section>

  {% include footer.html %}
</body>

</html>